/* Training Test */
.dropdowns {
  padding: 15px;
  background: $light-gray;
}


.athleteHeader {
  /* text-align: center; */
  background: $light-gray;
}

#dropdown-selection {
  @include grid-row;
  & > .groupDropdown { @include grid-column(2); }
  & > .categoryDropdown { @include grid-column(2); }
  & > .metricDropdown { @include grid-column(2); }
  & > .unitTypeDropdown {@include grid-column(2); }
  & > .dateDropdown {@include grid-column(2, true); }
}


.row.athlete-table {
  
  padding-bottom: 1em;
  padding-top: 1em;

  &.active {
    background: rgba(156, 0, 16, 1);
    color: white;
  }
}

table.responsive {
  width: 100%;
  font-size: 1.1em;
  border-spacing: 0.6em;

  tr {

    td {
      font-weight: 300;
    }
    td:nth-child(3)  {
      font-size:1.9em;

      i {
      font-size: 0.8em;
      margin-left: 0.3em;
      }
    }
  }

  th, td {
    padding: 12px 25px;

  }

  th {
    font-weight: bold;
  }



  input[type="text"]{
    width: 60%;
    height: 100%;
    margin-right: 1em;
    display:inline;
  }


}

