#charty.reveal-modal.drawChart
  .row.graph
    a.close-reveal-modal &#215;
    .large-6.small-6.columns
      h4.athName
    .large-6.small-6.columns
      h4.rightAlign.metrics
  .row.graphHeader
    .large-10.small-6.columns.large-centered.small-centered
      h2.element
  .row.panel
    .large-12.columns.large-centered.small-centered
      canvas(width="800", height="300")
