//- link(href='/_css/defaultTheme.css', rel='stylesheet', type='text/css', media='screen')
script(src="/_js/vendor/jquery/jquery-1.9.1-min.js", type="text/javascript")
script(src="/_js/vendor/fht/jquery.fixedheadertable.min.js", type="text/javascript")
script
  $('.fht-head').fixedheadertable('show');
