script(src="/_js/vendor/foundation/foundation.min.js")
script
  $(document).foundation();
script(src="/_js/ajax/fetchChart.js")
//- script(src="http://code.highcharts.com/highcharts.js")
script(src="/_js/vendor/chart/Chart.js")
script(src="/_js/drawGraphs.js")
