script(src="/_js/vendor/foundation/foundation.min.js", type="text/javascript")
script
  $(document).foundation();
script(src="/_js/ajax/fetchChart.js", type="text/javascript")
//- script(src="http://code.highcharts.com/highcharts.js")
script(src="/_js/vendor/chart/Chart.js", type="text/javascript")
script(src="/_js/drawGraphs.js", type="text/javascript")
