
<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">APE Systems</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left"></ul>
      <ul class="right">
        <li><a href="#" id="school-name" class="white hide-for-medium-down">pound-brack-nav</a></li>
        <li><a id="left-menu" href="#left-menu">Side Nav</a></li>
        <li><a id="right-menu" href="#right-menu">Ape Library</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </section>
  </nav>
</div>