.contain-to-grid
  nav.top-bar
    ul.title-area
      li.name
        h1
          a(href='/') APE Systems
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.left


      ul.right
        li
          a.white.hide-for-medium-down(href='#', id="school-name") pound-brack-nav
        li
          a#left-menu(href='#left-menu') Side Nav
        li
          a#right-menu(href='#right-menu') Ape Library
        li
          a(href='/settings') Settings
        li
          a(href='/logout') Logout