.row
  .large-12.columns.roster-subnav
      .large-4.columns
        .row
          .large-5.columns
            ul.button-group.radius
              li
                a.small.button.secondary(href='#', data-reveal-id='create-athlete-modal') New Athlete

      .large-8.columns
        ul.button-group.radius.right
          li
            a.small.button.secondary.disabled(href='#') Remove
          li
            a.small.button.secondary.disabled(href='#') Add to Group
          li
            a.small.button.secondary(href='#', data-reveal-id='create-group-modal') Create Group