script(src='../_js/vendor/custom.modernizr.js', type='text/javascript')
script(src='http://code.jquery.com/jquery-1.10.1.min.js', type='text/javascript')
script(src='../_js/vendor/foundation/foundation.min.js', type='text/javascript')
script(src='../_js/vendor/sidr/jquery.sidr.min.js')
script(type='text/javascript', src='../_js/vendor/accordion/jquery.cookie.js')
script(type='text/javascript', src='../_js/vendor/accordion/jquery.hoverIntent.minified.js')
script(type='text/javascript', src='../_js/vendor/accordion/jquery.dcjqaccordion.2.7.min.js')
script(type='text/javascript', src='../_js/vendor/list.min.js')
script(type='text/javascript', src='../_js/vendor/underscore-min.js')
script.
  $(document).foundation();
  $(document).ready(function() {
  $('#left-menu').sidr({
    name: 'sidr-left',
    side: 'left' // By default
    });
    $('#right-menu').sidr({
    name: 'sidr-right',
    side: 'right'
    });
    $('#ape-nav').dcAccordion({
    eventType: 'click',
    autoClose: true,
    saveState: true,
    disableLink: true,
    speed: 'fast',
    autoExpand: true,
    });
    $('#side-nav').dcAccordion({
    eventType: 'click',
    autoClose: true,
    saveState: true,
    disableLink: true,
    speed: 'fast',
    autoExpand: true,
    });
  $('#create-team-submit').submit(function() { $('#teamModal').trigger('reveal:close'); });
  maleList = document.getElementById('male');
  femaleList = document.getElementById('female');
  for (i = 0; i < teamsPage.apeLibrary.teams.length; i++) {
  if (teamsPage.apeLibrary.teams[i].gender === 'male') {
  $('#male').append('<li>' + teamsPage.apeLibrary.teams[i].name + '</li>');
  }  else {
  $('#female').append('<li>' + teamsPage.apeLibrary.teams[i].name + '</li>');
  }
  }
  $('#show-male').click(function(){
  $('.female-teams').hide();
  $('.male-teams').show();
  });
  $('#show-female').click(function(){
  $('.female-teams').show();
  $('.male-teams').hide();
  });
  $('#show-all').click(function(){
  $('.female-teams').show();
  $('.male-teams').show();
  });
  });
