script(src='../_js/vendor/custom.modernizr.js', type='text/javascript')
script(src='http://code.jquery.com/jquery-1.10.1.min.js', type='text/javascript')
script(src='../_js/vendor/foundation/foundation.min.js', type='text/javascript')
script(src='../_js/vendor/sidr/jquery.sidr.min.js')
script(type='text/javascript', src='../_js/vendor/accordion/jquery.cookie.js')
script(type='text/javascript', src='../_js/vendor/accordion/jquery.hoverIntent.minified.js')
script(type='text/javascript', src='../_js/vendor/accordion/jquery.dcjqaccordion.2.7.min.js')
script(type='text/javascript', src='../_js/vendor/list.min.js')
script(type='text/javascript', src='../_js/vendor/underscore-min.js')
//-script(type='text/javascript', src='../_js/fetchAthlete.js')
//-script(type='text/javascript', src='../_js/createTeams.js')
script.
  $(document).foundation();
  $(document).ready(function() {
  $('.roster-list').find('tr:first').addClass('highlight-table-row');
  $('#left-menu').sidr({
    name: 'sidr-left',
    side: 'left' // By default
    });
    $('#right-menu').sidr({
    name: 'sidr-right',
    side: 'right'
    });
    $('#ape-nav').dcAccordion({
    eventType: 'click',
    autoClose: true,
    saveState: true,
    disableLink: true,
    speed: 'fast',
    autoExpand: true,
    });
    $('#side-nav').dcAccordion({
    eventType: 'click',
    autoClose: true,
    saveState: true,
    disableLink: true,
    speed: 'fast',
    autoExpand: true,
    });
  $('#create-team-form').on("submit", function(event) { 
    console.log("clicked from " + this );
    event.preventDefault();
    var form = $(this);
    console.log(form);
    var school = $('#school-name').text();
    var teamName = $('#team-name').val();
    var teamGender = $('#team-gender').val();
    console.log("school: " + school);
    console.log("teamName: " + teamName);
    console.log("teamGender: " + teamGender);;


    $.ajax({
      url: '/'+ school + '/' + teamName + '/' + teamGender,
      type: 'POST',
      contentType: 'application/json: charset=utf-8',
      dataType: 'json',
      data: form.serialize()
    }).done(function(msg) {
      alert("data saved: " + msg);
    }).fail(function(msg) {
      console.log("failure: " + msg);
      console.dir(msg);
    }).always(function() {
      $('a.close-reveal-modal').trigger('click');     
    }); // ajax
  }); // create form on subsmit 
  
  $('#create-group-form').on("submit", function(event) {
    console.log('clicked!');
    event.preventDefault();
    var groupname = $("#group-name").val();
    $(".groups").append("<li class='btn'>" + groupname + "</li>");
    console.log($(this).serialize() );
    var form = $(this);
    console.log(form);
    

    $.ajax({
      url: '/test',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: form.serialize(),
      timeout: 3000
    }).fail(function(msg) {
      console.log(msg);
    }).done(function(msg) {
      alert("data saved: " + msg);
  
    }).always(function() {
      $('a.close-reveal-modal').trigger('click');
    }); 
  }); //on submit - create group form
  }); // document ready
