
<script type="text/javascript" src="/_js/vendor/custom.modernizr.js"></script>
<script type="text/javascript" src="/_js/vendor/jquery/jquery-1.10.1.js"></script>
<script type="text/javascript" src="/_js/vendor/foundation/foundation.min.js"></script>
<script type="text/javascript" src="/_js/vendor/sidr/jquery.sidr.js"></script>
<script type="text/javascript" src="/_js/vendor/accordion/jquery.cookie.js"></script>
<script type="text/javascript" src="/_js/vendor/accordion/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="/_js/vendor/accordion/jquery.dcjqaccordion.2.7.min.js"></script>
<script type="text/javascript" src="/_js/vendor/foundation-datepicker.js"></script>
<script>
  $(document).foundation();
  $(document).ready(function() {
  $('.roster-list').find('tr:first').addClass('highlight-table-row');
  $('#left-menu').sidr({
    name: 'sidr-left',
    side: 'left' // By default
    });
    $('#right-menu').sidr({
    name: 'sidr-right',
    side: 'right'
    });
    $('#ape-nav').dcAccordion({
    eventType: 'click',
    autoClose: true,
    saveState: true,
    disableLink: true,
    speed: 'fast',
    autoExpand: true,
    showCount: true
    });
    $('#side-nav').dcAccordion({
    eventType: 'click',
    autoClose: true,
    saveState: true,
    disableLink: true,
    speed: 'fast',
    autoExpand: true,
    });
  $('#dp').fdatepicker(
    {format: 'mm-dd-yyyy'});
    
    
    
  $('#create-group-form').on("submit", function(event) {
    console.log('clicked!');
    event.preventDefault();
    var groupname = $("#group-name").val();
    $(".sub-nav").append("<dd><a href='#'>" + groupname + "</a></dd>");
    var form = $(this);
    
    $.ajax({
      url: '/test',
      type: 'POST',
      contentType: "application/x-www-form-urlencoded; charset=UTF-8",
      dataType: 'json',
      data: form.serialize(),
      timeout: 3000
    }).fail(function(msg) {
      console.log(msg);
    }).done(function(msg) {
      alert("data saved: " + msg);
      
    }).always(function() {
      $('a.close-reveal-modal').trigger('click');
    }); 
  }); //on submit - create group form
  }); // document ready
</script>