#sidr-left
  ul#side-nav.accordion
    li
      a(href='#') Teams
    li
      a(href='#') Roster
    li
      a(href='#') Training
      ul
        li
          a(href='#') Test Admin
        li
          a(href='#') Test
        li
          a(href='#') Training Plan Creator
    li
      a(href='#') Reporting
    li
      a(href='#') Admin
#sidr-right
  ul#ape-nav.accordion
    li
      a(href='#') APE Library
      ul
        li
          a(href='#') Strength
        li
          a(href='#') Speed
        li
          a(href='#') Biometrics
        li
          a(href='#') + Power
          ul
            li
              a(href='#') Bench Press
            li
              a(href='#') Squat
            li
              a(href='#') Front Squat
    li
      a(href='#') Team 1
    li
      a(href='#') Team 2
  
