
<div id="sidr-left">
  <ul id="side-nav" class="accordion">
    <li><a href="#">Teams</a></li>
    <li><a href="#">Roster</a></li>
    <li><a href="#">Training</a>
      <ul>
        <li><a href="#">Test Admin</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Training Plan Creator</a></li>
      </ul>
    </li>
    <li><a href="#">Reporting</a></li>
    <li><a href="#">Admin</a></li>
  </ul>
</div>
<div id="sidr-right">
  <ul id="ape-nav" class="accordion">
    <li><a href="#">APE Library</a>
      <ul>
        <li><a href="#">Strength</a></li>
        <li><a href="#">Speed</a></li>
        <li><a href="#">Biometrics</a></li>
        <li><a href="#">+ Power</a>
          <ul>
            <li><a href="#">Bench Press</a></li>
            <li><a href="#">Squat</a></li>
            <li><a href="#">Front Squat</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Team 1</a></li>
    <li><a href="#">Team 2</a></li>
  </ul>
</div>