.contain-to-grid
  nav.top-bar
    ul.title-area
      li.companyName
        h1
          a(href='/')
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.left
        li.has-form
          form
            .row.collapse
              .small-8.columns
                input(type='text', placeholder='Search Athletes')
              .small-4.columns
                a.alert.button(href='#') Search
      ul.right
        li
          a(href='/settings') Settings
        li
          a(href='/logout') Logout