#lovely-things-list
  input.search(type='text', placeholder='Search lovely things')
  ul.sort-by
    li.sort.btn(data-sort='name') Sort by name
    li.sort.btn(data-sort='category') Sort by category
  ul.filter
    li#filter-none.btn Show all
    li#filter-games.btn Only show games
    li#filter-beverages.btn Only show beverages
  ul.list
    li
      img.thumb(src='/images/examples/monkeyisland.jpg')
      h4
        span.name Monkey Island 2&colon; LeChuck&apos;s Revenge
        span.category Game
      p.description
        | Monkey Island 2&colon; LeChuck&apos;s Revenge is an adventure game developed and published by LucasArts in 1991&period; It was the second game of the Monkey Island series&comma; following The Secret&period;&period;&period;
    li
      img.thumb(src='/images/examples/coffee.jpg')
      h4
        span.name Good Coffee
        span.category Beverage
      p.description
        | Coffee is a brewed beverage with a dark&comma; slightly acidic flavor prepared from the roasted seeds of the coffee plant&comma; colloquially called coffee beans&period;
    li
      img.thumb(src='/images/examples/fullthrottle.jpg')
      h4
        span.name Full Throttle
        span.category Game
      p.description
        | Full Throttle is a computer adventure game developed and published by LucasArts&period; It was designed by Tim Schafer&comma; who would later go on to design the critically acclaimed titles Grim Fandango&comma; Psychonauts and Br&uuml;tal Legend&period;
    li
      img.thumb(src='/images/examples/brooklyn.jpg')
      h4
        span.name Brooklyn Lager
        span.category Beverage
      p.description
        | Brooklyn Brewery was started in 1987 by former Associated Press correspondent Steve Hindy and former Chemical Bank lending officer Tom Potter&period;

