
<div class="row">         
  <div class="small-12 columns vanity-plate">
    <div class="small-4 columns athlete-demographics">
      <div class="row">
        <div class="small-12 columns athlete-photo"><img src="/_imgs/washington-kristopher.jpeg"/>
          <button>Profile</button>
        </div>
      </div>
    </div>
    <div class="small-8 columns athlete-graph">
      <div class="row">
        <div class="small-12 columns">
          <h1>Graph</h1>
        </div>
      </div>
    </div>
  </div>
</div>