.row          
  .small-12.columns.vanity-plate
    .small-2.columns.athlete-demographics
      .row
        .small-12.columns.athlete-photo
          img(src='/_imgs/washington-kristopher.jpeg')
    .small-10.columns.athlete-graph
      .row
        .small-12.columns
          h1 Graph