.row          
  .small-12.columns.vanity-plate
    .small-4.columns.athlete-demographics
      .row
        .small-5.columns.athlete-photo
          img(src='/_imgs/washington-kristopher.jpeg')
          button Profile
        .small-7.columns.athlete-info
          h4 Kristopher Washington
          dl
            dt.position Position
            dd Sprinter
            dt.group Group
            dd 400m
            dt.year Year
            dd Junior
            dt.hometown Hometown
            dd Los Angeles
            dt.height Height
            dd 5'8"
    .small-8.columns.athlete-metrics
      .row
        .small-3.columns
          h3 Body Weight
          span.metric-value 175
          span.metric-measurement lbs
        .small-3.columns
          h3 Body Fat
          span.metric-value 14
          span.metric-measurement %
        .small-3.columns
          h3 Power Clean
          span.metric-value 114
          span.metric-measurement kilos
        .small-3.columns
          h3 Back Squat
          span.metric-value 400
          span.metric-measurement lbs
