.row
  .large-12.columns.rosterProfile
    .row.roster-metrics
      .large-4.columns.playaInfo
        .large-4.columns.imageProfile.hide-for-small
          img.aPhoto(src='http://placehold.it/150x200')
          a.vProfile(href='/UniversityofLouisville/rosters/athlete/51ae42878f1d55041300001a', role='button') View Profile
        .large-5.small-12.columns.nameInfo
          h5.name
            p(contenteditable='true') First Last
          .demoInfo
            .specInfo
              p.position
                | Position&colon;
                strong SS
              p.group
                | Group&colon;
                strong IN-FIELD
              p.year
                | Year&colon;
                strong 2
      .small-12.large-7.columns
        .row.catBoxes
          .small-3.large-3.columns.text-center.catBox
            h4.cat Biometric
            .metric --
            p.lab Body Fat &lpar;&percnt;&rpar;
          .small-3.large-3.columns.text-center.catBox
            h4.cat Power
            .metric --
            p.lab Vertical Jump &lpar;in&rpar;
          .small-3.large-3.columns.text-center.catBox
            h4.cat Speed
            .metric --
            p.lab 10 YDS &lpar;sec&rpar;
          .small-3.large-3.columns.text-center.catBox
            h4.cat Strength
            .metric --
            p.lab Power Clean &lpar;lbs&rpar;