extends layout

//-append head
  //-link(rel='stylesheet', href='/_css/roster.css')
block content
  include includes/vanity-plate
  .row

  .row.display
    .large-12.columns.athlete-canvas
      .large-6.columns
        h4 Bench Press (lbs)
      .large-6.columns
        h4.right Last Record: Aug 8, 2013
      .large-12.spacer
        hr
      .row
        .large-10.large-centered.columns.athlete-canvas-metrics
          .row
            .large-2.columns
              h2 275

            .large-2.columns
              h2 245

            .large-2.columns
              h2.positive +10
 
            .large-2.columns
              i.foundicon-graph

            .large-2.columns
              i.foundicon-edit

          .row
            .large-2.columns
              span Latest Record
            .large-2.columns

              span Latest Team Avg.
            .large-2.columns

              span Delta Since Last
            .large-2.columns

              span View Graph
            .large-2.columns

              span Edit Data


      

