extends layout

//-append head
  //-link(rel='stylesheet', href='/_css/roster.css')
block content
  include includes/vanity-plate
  include includes/mixins/mixins

  .row.display
    .section-container.tabs(data-section='tabs')
      section.active
        p.title(data-section-title='')
          a(href='#') All
        .content(data-section-content='')

          +athlete-canvas-metric-row('Bench Press', 'lbs', 'Aug 8, 2013', '275', '245', '+10')
          +athlete-canvas-metric-row('Back Squat', 'lbs', 'Aug 8, 2013', '450', '400', '0')
          
      section(style='')
        p.title(data-section-title='')
          a(href='#') Strength
        .content(data-section-content='')
          p Content of section 2&period;
      section(style='')
        p.title(data-section-title='')
          a(href='#') Biometrics
        .content(data-section-content='')
          p Content of section 3&period;
      section(style='')
        p.title(data-section-title='')
          a(href='#') Speed
        .content(data-section-content='')
          p Content of section 4&period;

prepend scripts

  include includes/edit-data-modal
  
  #viewGraphModal.reveal-modal.medium
    a.close-reveal-modal &#215;
    .row
      .small-6.columns
        p Dan Richards
      .small-6.columns
    .row
      .small-12.columns
        h4 Graph Goes here
     
