include includes/head
include includes/jqueryUI
body.dashboard
  include includes/nav
  .row
    .large-12.columns
      if username
        h2.right Welcome, #{username}
        hr
      else
        h2.right Welcome, Coach
        hr
    .row.dash-select
      .large-12.columns
        .row
          .large-6.columns
            h4 My Teams
            ol.dash-list.teams
              for team in teams
                li= team.toUpperCase()
          .large-6.columns
            h4 Activity Stream
            ol.dash-list.stream

  include includes/footer
  include includes/footer_teams
