doctype 5
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block head
      link(href='/_css/foundation.min.css', rel='stylesheet', type='text/css', media='all')
      link(href='/_css/normalize.min.css', rel='stylesheet', type='text/css', media='all')
      link(href='/_css/app.css', rel='stylesheet', type='text/css', media='all')
  body
    include includes/nav
    include includes/side-nav
    block header
      p testing
    block content
    footer
      p Copyright APE Systems
    block scripts
      include includes/scripts