extends layout

block content
  .login
    .row
      .large-6.large-centered.columns
        .row
          .large-12.columns
            img(src='/_imgs/logo-login.png', alt='ApeSystem')
    .login-form
      .row
        .large-6.large-centered.columns
          form(method="POST", action='/login')
            .row
              .large-10.large-offset-1.columns
                label.inline(for='username') Username
                input#username(type='text', name="username", placeholder='Username', value="danlourenco@gmail.com", required)
            .row
              .large-10.large-offset-1.columns
                label.inline(for='password') Password
                input#password(type='password', name='password', placeholder='Password', value="redSeven7_roberto", required)
            .row
              .large-10.large-offset-1.columns
                button(type='submit') Login