extends layout
  
append head
  link(rel='stylesheet', href='/_css/roster.css')       
  

block content
  include includes/vanity-plate
  include includes/rosters-subnav
  include includes/mixins/mixins

  //- Display Groups
  .row
    .large-12.columns.groups-nav
      dl.sub-nav
        dt Filter:
          dd.active 
            a(href='#') All
          dd: a(href='#') Injured
    .large-12.columns
      table.roster-table
        thead
          tr
            th &nbsp;
            th First Name
            th Last Name
            th Position
            th Group
        tbody.roster-list
          +roster-row('Kristopher', 'Washington', 'Sprinter', 'Junior')
          +roster-row('Jonathon', 'Hall', 'Runninback', 'Freshman')
          +roster-row('Barkevious', 'Deng', 'Runningback', 'Senior')
          +roster-row('Douglas', 'Bogie', 'Special Teams', 'Senior')
          +roster-row("Reggie", "Wayne", "Runningback", "Senior")
          +roster-row('Colin', 'Cort', 'Runninback', 'Freshman')
          +roster-row('', '', '', '')
          +roster-row('', '', '', '')
          +roster-row('', '', '', '')
          +roster-row('', '', '', '')

  include includes/rosters-page-modals




