extends layout

append head
  link(href='../_js/vendor/sidr/stylesheets/jquery.sidr.dark.css', rel='stylesheet')
  link(rel='stylesheet', href='../_css/base.css')
  link(rel='stylesheet', href='../_css/roster.css')
block content
  .row
    .large-12.columns
      .panel.vanity.cf
        .large-2.columns
          h3 Photo
        .large-3.columns
          h6 Kristopher Washington
          span Position
          span something
        .large-7.columns
          h3 Metrics