<!DOCTYPE html><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!-- [if gt IE 8] <!-->
<html lang="en" class="no-js">
  <!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ape System</title>
    <link href="/_css/foundation.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/_css/normalize.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/_css/app.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../_css/roster.css">
    <script src="/_js/vendor/custom.modernizr.js" type="text/javascript"></script>
    <script src="/_js/vendor/jquery/jquery-1.9.1-min.js"></script>
  </head>
  <body class="rosters">
    <div class="row">
      <div class="large-12 columns rosterProfile">
        <div class="row roster-metrics">
          <div class="large-4 columns playaInfo">
            <div class="large-3 columns imageProfile hide-for-small"><img src="http://placehold.it/150x200" class="aPhoto"><a href="/UniversityofLouisville/rosters/athlete/51ae42878f1d55041300001a" role="button" class="vProfile">View Profile</a></div>
            <div class="large-9 small-12 columns nameInfo">
              <h5 class="name"><span contenteditable="true" class="first-name">Kristopher</span><span contenteditable="true" class="last-name">Washington</span></h5>
              <div class="demoInfo">
                <div class="specInfo">
                  <dl>
                    <dt class="position">Position</dt>
                    <dd contenteditable="true">Sprinter</dd>
                    <dt class="group">Group</dt>
                    <dd contenteditable="true">400m</dd>
                    <dt class="year">Year</dt>
                    <dd contenteditable="true">Junior</dd>
                    <dt class="hometown">Hometown</dt>
                    <dd contenteditable="true">Los Angeles</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="large-8 small-12 columns">
            <div class="row catBoxes">
              <div class="small-3 large-3 columns text-center catBox">
                <h5 class="cat">Body Weight </h5><span contenteditable="true" class="metric">--</span>
              </div>
              <div class="small-3 large-3 columns text-center catBox">
                <h5 class="cat">Body Fat</h5><span contenteditable="true" class="metric">--</span>
              </div>
              <div class="small-3 large-3 columns text-center catBox">
                <h5 class="cat">Power Clean</h5><span contenteditable="true" class="metric">--</span>
              </div>
              <div class="small-3 large-3 columns text-center catBox">
                <h5 class="cat">Back Squat</h5><span contenteditable="true" class="metric">--</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-12 columns rosterProfile-subnav">
        <div class="row">
          <div class="large-2 columns"><a href="#" class="small button">Create Athlete</a></div>
          <div class="large-5 large-offset-5 columns btnGroup">
            <ul class="button-group right">
              <li><a href="#" class="small button disabled">Remove</a></li>
              <li><a href="#" data-reveal-id="create-group-modal" class="small button">Create Group</a></li>
              <li><a href="#" class="small button disabled">Add to Group</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- roster table-->
      <div class="large-12 columns roster-table">
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Position</th>
              <th>Group</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kristopher</td>
              <td>Washington</td>
              <td>Sprinter</td>
              <td>Junior</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- test table-->
      <div class="large-12 columns test-table">
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Last Record</th>
              <th>Input Data</th>
              <th>Confirm</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kristopher</td>
              <td>Washington</td>
              <td>90</td>
              <td>
                <input placeholder="Input Data">
              </td>
              <td>
                <button>Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="create-group-modal" class="reveal-modal large">
      <h4>Create Group
        <form action="/roster" method="/post" enctype="multipart/form-data"></form>
      </h4>
    </div>
  </body>
</html>