extends layout
  
append head
  link(rel='stylesheet', href='/_css/roster.css')       
  

block content
  include includes/vanity-plate
  include includes/rosters-subnav
  include includes/mixins/rosters

  //- Display Groups
  .row
    .large-12.columns.groups-nav
      dl.sub-nav
        dt Filter:
          dd.active 
            a(href='#') All
          dd: a(href='#') Injured
          dd: a(href='#') Ninnies
    .large-12.columns
      table.roster-table
        thead
          tr
            th &nbsp;
            th First Name
            th Last Name
            th Position
            th Group
        tbody.roster-list
          +roster-row('Kristopher', 'Washington', 'Sprinter', 'Junior')
          +roster-row('Ozamataz', 'Buckshank', 'Runninback', 'Freshman')
          +roster-row('Bismo', 'Funyuns', 'Runningback', 'Senior')
          +roster-row('Hingle', 'McCringleberry', 'Special Teams', 'Senior')
          +roster-row("J'Dinklage", "Morgoone", "Runningback", "Senior")
          +roster-row('Ozamataz', 'Buckshank', 'Runninback', 'Freshman')
          +roster-row('', '', '', '')
          +roster-row('', '', '', '')
          +roster-row('', '', '', '')
          +roster-row('', '', '', '')

  .row
    .large-12.columns.athlete-canvas
      .section-container.tabs(data-section='tabs') 
        section.active
          p.title(data-section-title)
            a(href='#panel1')Section 1
            .content(data-section-content)
              p Content of section 1.
        section
          p.title(data-section-title)
            a(href='#panel2')Section 2.
            .content(data-section-content)
              p Content of section 2.

  include includes/rosters-page-modals




