extends layout

block content
  include account
  include modals/alert

block scripts
  script(src='/_js/vendor/jquery/jquery.min.js')
  script(src='/_js/vendor/jquery/jquery.form.js')
  script(src='/_js/vendor/foundation/foundation.reveal.js')
  script(src='/_js/views/signup.js')
  script(src='/_js/controllers/signupController.js')
  script(src='/_js/form-validators/accountValidator.js')