include includes/head
.login
  .row
    .large-6.large-centered.columns
      .row
        .large-12.columns
          img(src='/_imgs/logo-login.png', alt='ApeSystem')
  .login-form
    .row
      .large-6.large-centered.columns
        form(method="POST", action='/signup')
          .row
            .large-10.large-offset-1.columns
              label.inline(for='username') Full Name
              input#username(type='text', name="fName", placeholder='Full Name', required)
          .row
            .large-10.large-offset-1.columns
              label.inline(for='password') Password
              input#password(type='password', name='password', placeholder='Password', required)
          .row
            .large-10.large-offset-1.columns
              label.inline(for='username') Re-Type Password
              input#username(type='password', name="vPassword", placeholder='Retype Password', required)
          .row
            .large-10.large-offset-1.columns
              label.inline(for='username') Email
              input#username(type='text', name="email", placeholder='email', required)
          
          .row
            .large-10.large-offset-1.columns
              button(type='submit') Sign Up
              include includes/footer
