include includes/head
link(rel='stylesheet', href='../_css/splash.css')
body
  include includes/splash-nav
  include includes/footer
  .row
    .small-6.large-centered.columns.centered
      h3 Teams: All / Men / Women 
  .row
    .small-6.large-centered.columns

      .centered-div
        .box.gray
          .centered
            span#add-team +
        span Welcome to the APE System! 
        br 
        span Get started by creating teams.
          


