<div class="section-container tabs" data-section="tabs" style="">
  <section class="active" style="padding-top: 49px;">
    <p class="title" data-section-title="" style="left: 0px;"><a href="#">Section 1</a></p>
    <div class="content" data-section-content="">
      <p>Content of section 1.</p>
    </div>
  </section>
  <section class="" style="">
    <p class="title" data-section-title="" style="left: 89px;"><a href="#">Section 2</a></p>
    <div class="content" data-section-content="">
      <p>Content of section 2.</p>
    </div>
  </section>
</div>