html
  body
    .section-container.tabs(data-section='tabs')
      section.active)
        p.title(data-section-title='')
          a(href='#') Section 1
        .content(data-section-content='')
          p Content of section 1&period;
      section(style='')
        p.title(data-section-title='')
          a(href='#') Section 2
        .content(data-section-content='')
          p Content of section 2&period;
