include includes/head
link(rel='stylesheet', href='../_css/splash.css')
link(rel='stylesheet', href='../_js/vendor/sidr/stylesheets/jquery.sidr.dark.css')
body
  include includes/splash-nav

  .row
    a#left-menu(href='#sidr') Navigation
    a#right-menu(href='#ape-lib') APE Library

    #sidr
      ul
        li
          a(href='#') Teams
        li.active
          a(href='#') Roster
        li
          a(href='#') Training
        li
          a(href='#') Reporting
        li
          a(href='#') Admin

    #ape-lib
      ul
        li
          a(href='#') Ape Global Library
        li 
          a(href='#') Basketball (Men)
        li 
          span There are currently



    .small-6.large-centered.columns.centered
      h3 Teams: All / Men / Women 
      a.button(href='#', data-reveal-id='myModal') Create Team
    h5 Men's Teams
    hr

  .row
    .small-6.columns
      ul.small-block-grid-4
        for team in teamsPage.apeLibrary.teams
          li.box
            span.caption
              p= team.name

    .small-6.columns
      ul.small-block-grid-4
        for team in teamsPage.apeLibrary.teams
          li.box
            span.caption
              p= team.name 
  include includes/footer
  #myModal.reveal-modal.large
    h4 Create Team
    .row
      .small-3.columns
        img(src='http://placehold.it/150x200')
        a.small.button.expand.upimage(href='#' ) Upload Image
      .small-9.columns
        form
          a.button.dropdown.expand(href='#', data-dropdown='drop1') Sport
          ul#drop1.f-dropdown
            li
              a(href='#') Football
            li
              a(href='#') Track and Field
            li
              a(href='#') Basketball
          label(for='customDropdown1') Sex
            select#customDropdown1.medium
                option(disabled='DISABLED') Select
                option Male
                option Female
      .small-12.columns
        a.large.button.expand(href='#') Create Team

  script.
    $(document).ready(function() {
      $('#left-menu').sidr();
    });

  script(src='../_js/vendor/sidr/jquery.sidr.min.js')
            
