extends layout

append head
  link(rel='stylesheet', href='../_css/teams.css')
  link(href='../_js/vendor/sidr/stylesheets/jquery.sidr.dark.css', rel='stylesheet')

block content
  - if (typeof(teamsPage.apeLibrary.teams) !== "undefined")
    .small-6.large-centered.columns.centered
      h3 Teams: All / Men / Women
      a.button(href='#', data-reveal-id='teamModal') Create Team
    h5 Men's Teams
    hr

    .row
      .small-6.columns
        ul.small-block-grid-4
          for team in teamsPage.apeLibrary.teams
            li.box
              span.caption
                p= team.name

      .small-6.columns
        ul.small-block-grid-4
          for team in teamsPage.apeLibrary.teams
            li.box
              img= team.image
              span.caption
                p= team.name 
  - else
    .small-6.large-centered.columns
      .centered-div
        .box.gray
          .centered
            span#add-team +
        span Welcome to the APE System! 
        br 
        span Get started by creating teams.
   
  hr
  include includes/team-list-test 

prepend scripts
  #teamModal.reveal-modal.large
    h4 Create Team
    form(action='/teams', method='post', enctype='multipart/form-data')
      .row
        .small-3.columns
          img(src='http://placehold.it/150x200')
          input(type='file', name='displayImage')
        .small-9.columns
          div
            label name
            input(type='text', name='name')
          div
            label gender
            input(type='text', name='gender')
          div
            input(type='submit', id='create-team-submit')


