extends layout

append head
  link(rel='stylesheet', href='../_css/teams.css')
  link(href='../_js/vendor/sidr/stylesheets/jquery.sidr.dark.css', rel='stylesheet')

block content
  - if (typeof(teams) !== "undefined")
    .small-6.large-centered.columns.centered
      a.button(href='#', data-reveal-id='teamModal') Create Team
    hr

    .row
      .small-6.columns.male-teams
        h3.center Men's Teams
        ul.small-block-grid-4.male
          for team in teams
            //- refactor the following code to use buttons? may be cleaner
            a(href='#')
              li.box
                span.caption
                  p= team.name

      .small-6.columns.female-teams
        .row
        h3 Women's Teams
        //- ul.small-block-grid-4.female
          //- for team in teamsPage.apeLibrary.teams
            //- li.box
              //- img= team.image
              //- span.caption
                //- p= team.name 

  - else
    .small-6.large-centered.columns
      .centered-div
        .add-team-box.gray
          .centered
            a#add-team(href='#', data-reveal-id='teamModal') +
        span Welcome to the APE System! 
        br 
        span Get started by creating teams.

prepend scripts
  #teamModal.reveal-modal.large
    a.close-reveal-modal &#215;
    form(action='/teams', method='post', enctype='multipart/form-data')
      .row
        .large-12.columns
          h4 Create Team
          div
            label Sport
            input(type='text', name='name', required='required', placeholder='Ex: Baseball, Football')
          div
            label Gender
            select#gender(name='gender')
              option(value='male') Male
              option(value='female') Female
      .row
        .large-12.columns
          div
            input(type='submit', id='create-team-submit', value='Create Team')



