extends layout

append head
  link(rel='stylesheet',  href='../_css/foundation-datepicker.css')
  link(rel='stylesheet', href='../_css/responsive-tables.css')
  script(type='text/javascript', src='/_js/responsive-tables.js')

block content

  .row.dropdowns
    form.custom
      section#dropdown-selection
        .groupDropdown
          label(for='groupDropdown') Group
          select.medium(id='groupDropdown')
            option All
            option Group 1
            option Group 2
        .categoryDropdown
          label(for='categoryDropdown') Category
          select.medium(id='categoryDropdown')
            option Strength
            option Power
            option Whatevs
        .metricDropdown
          label(for='metricDropdown') Metric
          select.medium(id='metricDropdown')
            option Power Clean
        .unitTypeDropdown
          label(for='unitTypeDropdown') Unit Type
          select.medium(id='unitTypeDropdown')
            option kg
            option lb
        .dateDropdown
          label(for='dp') Date
          input(type='text', value='10/20/2013', id='dp') Test


  .display
  include includes/vanity-plate

  .display
  .row.athlete-table
    table.responsive
      thead
        tr
          th First Name
          th Last Name
          th Last Record
          th Input Data
      tbody
        tr
          td Kristopher 
          td Washington
          td 90
            a(href='#'): i.foundicon-edit
          td
            input(type='text') 
            a.medium.button.success.radius(href='#') Update
        tr
          td D'Jasper
          td Probincruxx III
          td 67
            a(href='#'): i.foundicon-edit
          td
            input(type='text') 
            a.medium.button.success.radius(href='#') Update
        tr
          td Ozamataz
          td Buckshank
          td 90
            a(href='#'): i.foundicon-edit
          td
            input(type='text') 
            a.medium.button.success.radius(href='#') Update
        tr
          td Isaiah
          td T.Billings-Clyde
          td 83
            a(href='#'): i.foundicon-edit
          td
            input(type='text') 
            a.medium.button.success.radius(href='#') Update



