extends layout

append head
  link(rel='stylesheet',  href='../_css/foundation-datepicker.css')

block content

  .row.dropdowns
    form.custom
      section#dropdown-selection
        .groupDropdown
          label(for='groupDropdown') Group
          select.medium(id='groupDropdown')
            option All
            option Group 1
            option Group 2
        .categoryDropdown
          label(for='categoryDropdown') Category
          select.medium(id='categoryDropdown')
            option Strength
            option Power
            option Whatevs
        .metricDropdown
          label(for='metricDropdown') Metric
          select.medium(id='metricDropdown')
            option Power Clean
        .unitTypeDropdown
          label(for='unitTypeDropdown') Unit Type
          select.medium(id='unitTypeDropdown')
            option kg
            option lb
        .dateDropdown
          label(for='dp') Date
          input(type='text', value='10/20/2013', id='dp') Test


  .display
  include includes/vanity-plate

  .display
  .row.athleteHeader
    .small-2.columns
      h5 First Name
    .small-2.columns
      h5 Last Name
    .small-2.columns
      h5 Last Record
    .small-6.columns
      h5 Input Data
  .row.athlete-table
    .small-12.columns
      .row(data-id='1').active
        .small-2.columns
          span(data-athleteFirstName) Kristopher
        .small-2.columns
          span(data-athleteLastName) Washington
        .small-1.columns
          span(data-last-record) 90
        .small-1.columns
          i.foundicon-edit
        .small-3.columns
          input(type='text')
        .small-3.columns
          button Confirm
      .row(data-id='2').active
        .small-2.columns
          span(data-athleteFirstName) Some
        .small-2.columns
          span(data-athleteLastName) Otherguy
        .small-1.columns
          span(data-last-record) 90
        .small-1.columns
          i.foundicon-edit
        .small-3.columns
          input(type='text')
        .small-3.columns
          button Confirm


  .row
    h1 This is the h1
    h2 This is the h2
    h3 This is the h3
    h4 This is the h4
    h5 This is the h5
    h6 This is the h6

//-<a href="#" data-dropdown="drop1" class="button dropdown">Dropdown Button</a><br>

//-<ul id="drop1" class="f-dropdown">
//-  <li><a href="#">This is a link</a></li>
//-  <li><a href="#">This is another</a></li>
//-  <li><a href="#">Yet another</a></li>
//-</ul>

