extends layout

append head
  link(rel='stylesheet',  href='../_css/foundation-datepicker.css')
  link(rel='stylesheet', href='../_css/responsive-tables.css')
  script(type='text/javascript', src='/_js/responsive-tables.js')

block content
  include includes/mixins/mixins
  
  .row.dropdowns
    .small-10.small-centered.columns
      form.custom
        .small-2.columns.groupDropdown
          label(for='groupDropdown') Group
          select.medium(id='groupDropdown')
            option All
            option Group 1
            option Group 2
        .small-2.columns.categoryDropdown
          label(for='categoryDropdown') Category
          select.medium(id='categoryDropdown')
            option Strength
            option Power
            option Whatevs
        .small-4.columns.metricDropdown
          label(for='metricDropdown') Metric
          select.medium(id='metricDropdown')
            option Power Clean
        .small-2.columns.unitTypeDropdown
          label(for='unitTypeDropdown') Unit Type
          select.medium(id='unitTypeDropdown')
            option kg
            option lb
        .small-2.columns.dateDropdown
          label(for='dp') Date
          input(type='text', value='10/20/2013', id='dp') Test


  .display
  include includes/training-test-athlete-graph

  .display
  .row.athlete-table
    table.responsive
      thead
        tr
          th First Name
          th Last Name
          th Last Record
          th Input Data
      tbody
        +training-test-row('Kristopher', 'Washington', '90')
        +training-test-row('Douglas', 'Bogie', '67')
        +training-test-row('Reggie', 'Wayne', '90')
        +training-test-row('Isaiah', 'T-Billings Clyde', '83')
 

prepend scripts

  include includes/edit-data-modal

