extends layout

block content

  // test table
  .large-12.columns.test-table
    table
      thead
        tr
          th First Name
          th Last Name
          th Last Record
          th Input Data
          th Confirm
      tbody
        tr
          td Kristopher
          td Washington
          td 90
          td
            input(placeholder='Input Data')
          td
            button Update