include includes/head
body.whoops
  include includes/nav
  .row
    .large-7.large-centered.columns
      h3 Donny, you're out of your element.
      h1 404
      p The page you're looking for cannot be found. What a bummer. That page really tied the room together.
      | Please select a different page from the menu above. If you cannot use the menu or are stuck on this page, please contact us via twitter at 
      a(href="twitterhandleURL") @APESUPPORT

  include includes/footer