include ../includes/head
block style
  style
    .error {
      background-color: #BB3E3E;
    }
    .where, .errCode {
      margin-left: 15px;
      border: 1px solid red;
    }

body
  .container
   .large-6.large-centered.columns
      .row
        h1 Ooops
        br
        h2 Something went wrong :-/
        br
        h3 Where
          span.where
            | #{where}
        h3 Error Code:
          span.errCode
            | #{error}
