/* 
  APE Systems CSS v0.0 MVP

  Table of Contents
  ------------------------------
  Line TBD............Base Rules
  Line TBD..........Layout Rules
  Line TBD..........Module Rules
  Line TBD...........State Rules
  ------------------------------

  Base rules modify global elements across the application 
      EXAMPLE: a{color:white;} is a base rule. 
             .sampleClass a{color:white;} is not, because it
             applies to a specific element that is not global

  Layout rules modify page-specifc elements.
      EXAMPLE: body.profile div {padding:1em;} is a layout 
             rule.button.help {padding:1em;} is not, because 
             it  applies to a reusable element (help button) 
             and not a specific page. Page-specific elements 
             like body.profile button.help {} are okay because
             they are specific to a single page.

  Module rules modify reusable elements.
      EXAMPLE: .button .help {padding:1em;} is a module rule
             .button .help .visible {padding:1em;} is not, 
             because it only applies during a certain state
             and is not resuable.

  State rules are the CSS classes manipulated by JS or 
      EXAMPLE: .notVisible{display:none;} is a state rule a:hover 
             {color:green;} is not, because the hover state is
             specific to an element. Media Queries are included
             as functionally, they are different states and its
             nice to keep them in one place.

  NOTES
    - Search for 'research' to find known problems
    - Search for 'rename' to find know selectors that need renaming
    - This all should be removed for production
    - There is no spoon.

TESTING CRAP */
/* line 45, ../_scss/app.scss */
.testRed {
  background: red !important; }

/* line 48, ../_scss/app.scss */
.testBlue {
  background: blue !important; }

/* line 51, ../_scss/app.scss */
.testGreen {
  background: green !important; }

/*==================
      BASE RULES    
  ==================
@font-face {
  font-family: 'alte_din_1451';
  src: url("fonts/din1451alt.eot");
  src: url("fonts/din1451alt.eot?#iefix") format("embedded-opentype"), url("fonts/din1451alt.woff") format("woff"), url("fonts/din1451alt.ttf") format("truetype"), url("fonts/din1451alt.svg#alte_din_1451_mittelschriftRg") format("svg");
  font-weight: 400;
  font-style: normal;
} */
/* line 66, ../_scss/app.scss */
html {
  overflow-y: scroll;
  /* margin-top: 1.5em; /* Shitty Nav fix */ }

/* line 70, ../_scss/app.scss */
body {
  /*background: #fff;
  color: #222;
  font-family: "alte_din_1451", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  */ }

/* Link Styles */
/* line 80, ../_scss/app.scss */
a {
  color: #9c0012;
  text-decoration: none;
  line-height: inherit; }

/* line 85, ../_scss/app.scss */
a:hover, a:focus {
  color: #83000f; }

/* line 88, ../_scss/app.scss */
.dashboard .dashboard > a, .rosters .rosters > a, .training .training > a, .reporting .reporting > a, .admin .admin > a {
  color: #fff; }

/* line 91, ../_scss/app.scss */
a img {
  border: none; }

/* Typography, Type Styles */
/* line 95, ../_scss/app.scss */
p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

/* line 102, ../_scss/app.scss */
p aside {
  font-size: .875em;
  line-height: 1.35;
  font-style: italic; }

/* line 107, ../_scss/app.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "alte_din_1451", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility; }

/* line 114, ../_scss/app.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f; }

/* line 118, ../_scss/app.scss */
hr {
  border: solid #9c0012;
  border-width: 4px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0; }

/* Button Styles */
/* line 126, ../_scss/app.scss */
button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: .75em;
  padding-right: 1.5em;
  padding-bottom: .8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #9c0012;
  border-color: #69000c;
  color: #fff; }

/* line 147, ../_scss/app.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #69000c; }

/* line 150, ../_scss/app.scss */
button:hover, button:focus, .button:hover, .button:focus {
  color: #fff; }

/* line 153, ../_scss/app.scss */
button.secondary, .button.secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333; }

/* line 158, ../_scss/app.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #d0d0d0; }

/* line 161, ../_scss/app.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: #333; }

/* line 164, ../_scss/app.scss */
button.success, .button.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: #fff; }

/* line 169, ../_scss/app.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #457a1a; }

/* line 172, ../_scss/app.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: #fff; }

/* line 175, ../_scss/app.scss */
button.alert, .button.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: #fff; }

/* line 180, ../_scss/app.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #970b0e; }

/* line 183, ../_scss/app.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: #fff; }

/* line 186, ../_scss/app.scss */
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #9c0012;
  border-color: #69000c;
  color: #fff;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 195, ../_scss/app.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #69000c; }

/* line 198, ../_scss/app.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: #fff; }

/* line 201, ../_scss/app.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #9c0012; }

/* line 204, ../_scss/app.scss */
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 213, ../_scss/app.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #d0d0d0; }

/* line 216, ../_scss/app.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: #333; }

/* line 219, ../_scss/app.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #e9e9e9; }

/* line 222, ../_scss/app.scss */
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #5da423;
  border-color: #457a1a;
  color: #fff;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 231, ../_scss/app.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #457a1a; }

/* line 234, ../_scss/app.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: #fff; }

/* line 237, ../_scss/app.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #5da423; }

/* line 240, ../_scss/app.scss */
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: #fff;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 249, ../_scss/app.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #970b0e; }

/* line 252, ../_scss/app.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: #fff; }

/* line 255, ../_scss/app.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #c60f13; }

/* Form Styles */
/* Error Styles */
/* Table Styles */
/* line 263, ../_scss/app.scss */
table {
  background: #fff;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd; }

/* line 268, ../_scss/app.scss */
table thead, table tfoot {
  background: whitesmoke;
  font-weight: 700; }

/* line 272, ../_scss/app.scss */
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  padding: .5em .625em .625em;
  font-size: .875em;
  color: #222;
  text-align: left; }

/* line 278, ../_scss/app.scss */
table tr th, table tr td {
  padding: .5625em .625em;
  font-size: .875em;
  color: #222; }

/* line 283, ../_scss/app.scss */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9; }

/* line 286, ../_scss/app.scss */
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  display: table-cell;
  line-height: 1.125em; }

/* line 290, ../_scss/app.scss */
table {
  width: 100%; }

/* line 291, ../_scss/app.scss */
table tbody tr:hover {
  background: rgba(156, 0, 18, 0.3); }

/* line 292, ../_scss/app.scss */
table tbody tr.active td {
  color: white; }

/* line 293, ../_scss/app.scss */
table tbody tr.active:hover td {
  color: white; }

/*====================
      LAYOUT RULES    
  ====================*/
/* Login Page */
/* line 300, ../_scss/app.scss */
.login {
  margin-top: 6em; }

/* line 303, ../_scss/app.scss */
.login .login-form {
  background-color: #F2F2F2;
  text-align: center;
  padding: 2em 0 .5em 0;
  font-size: 28px; }

/* line 309, ../_scss/app.scss */
.login .login-form label {
  display: none; }

/* line 312, ../_scss/app.scss */
.login .login-form button {
  width: 100%; }

/* Dashboard Page */
/* line 317, ../_scss/app.scss */
.dashboard .dashboard > a, .rosters .rosters > a, .training .training > a, .reporting .reporting > a, .admin .admin > a {
  color: #fff; }

/* line 320, ../_scss/app.scss */
.dash-select {
  background-color: #F2F2F2;
  padding: 1em; }

/* line 324, ../_scss/app.scss */
.dash-select .dash-list {
  list-style-type: none;
  margin: 0;
  padding: 1px 0;
  background-color: #fff;
  min-height: 25em;
  max-height: 25em;
  overflow-y: scroll; }

/* line 333, ../_scss/app.scss */
.dash-select .dash-list li {
  margin: 3px;
  padding: .4em;
  font-size: 1.4375em; }

/* line 338, ../_scss/app.scss */
.dash-select .dash-list .ui-selecting {
  background: #ccc; }

/* line 341, ../_scss/app.scss */
.dash-select .dash-list .ui-selected {
  background: #999; }

/* Rosters Page */
/* line 346, ../_scss/app.scss */
.rosterProfile {
  min-height: 12.5em; }

/* line 349, ../_scss/app.scss */
.rosters .roster-metrics {
  /*border: 1px solid black;*/ }

/* line 352, ../_scss/app.scss */
.rosters .roster-name h4 {
  margin-top: 0; }

/* line 353, ../_scss/app.scss */
.rosters .roster-metrics p {
  margin-bottom: .1em; }

/* line 354, ../_scss/app.scss */
.rosters .roster-metrics .metric {
  font-size: 4em;
  color: #83000f; }

/* line 358, ../_scss/app.scss */
.rosters .roster-metrics h4 {
  text-transform: uppercase;
  margin: 0 auto; }

/* line 362, ../_scss/app.scss */
.rosters .section-container .content .metrics .row {
  background-color: #fff;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em; }

/* line 368, ../_scss/app.scss */
.rosters .section-container .content .metrics:last-child {
  margin-bottom: 1em; }

/* line 371, ../_scss/app.scss */
.rosters .section-container .content .metrics .odd {
  background-color: #999; }

/* line 374, ../_scss/app.scss */
.rosters .section-container .content .metrics img {
  height: 85px; }

/* line 377, ../_scss/app.scss */
.rosters .section-container .content .metrics p {
  margin-bottom: 0; }

/* line 380, ../_scss/app.scss */
.rosters .section-container .content .metrics .metric {
  font-size: 4em; }

/* line 383, ../_scss/app.scss */
.rosters .section-container section .title a {
  padding-left: 1em;
  padding-right: 1em; }

/* line 387, ../_scss/app.scss */
.rosters .section-container.tabs section .title {
  border: 0;
  border-right: 1px solid #fff;
  font-size: 1.375em;
  text-transform: uppercase; }

/* line 393, ../_scss/app.scss */
.rosters .section-container.tabs section.active .title {
  border: 1px solid #CCC;
  border-bottom: 0; }

/* line 397, ../_scss/app.scss */
.rosterTableRow.active {
  background: #9c0012; }

/* line 398, ../_scss/app.scss */
.rosterTableRow.active:hover {
  background: rgba(156, 0, 18, 0.7); }

/* Profile Page */
/* line 401, ../_scss/app.scss */
.athleteMetrics .title {
  text-transform: uppercase;
  font-size: 1.6rem; }

/* line 405, ../_scss/app.scss */
.athleteMetrics .section-container > section .title a {
  padding-top: 0;
  padding-bottom: 0; }

/* line 408, ../_scss/app.scss */
.athleteProfile h4 {
  margin-bottom: 0; }

/* line 411, ../_scss/app.scss */
.statRow > .panel {
  min-height: 10em;
  max-height: 10em;
  padding-top: .5em;
  padding-left: 0;
  padding-right: 0; }

/* line 418, ../_scss/app.scss */
.statRow > .panel:first-child {
  border-left: none; }

/* line 421, ../_scss/app.scss */
.statRow > .panel:last-child {
  border-right: none; }

/* line 424, ../_scss/app.scss */
.statRow > .panel h2 {
  font-size: 4rem;
  text-align: center;
  vertical-align: text-bottom;
  color: #555; }

/* line 430, ../_scss/app.scss */
.statRow > .panel p {
  color: #555;
  min-height: 2.2em;
  max-height: 2.2em;
  text-align: center;
  margin-top: 0 !important; }

/* line 437, ../_scss/app.scss */
.statRow > .panel.dark {
  background: #555;
  border: 1px solid #383c3a; }

/* line 441, ../_scss/app.scss */
.statRow > .panel.dark p {
  color: lightgray; }

/* line 444, ../_scss/app.scss */
.statRow > .panel.dark h2 {
  color: white; }

/* line 447, ../_scss/app.scss */
.statRow > .panel .negMetric {
  color: red; }

/* line 450, ../_scss/app.scss */
.statRow > .panel .posMetric {
  color: green; }

/* line 453, ../_scss/app.scss */
.statRow > .panel .naMetric {
  color: black; }

/* line 456, ../_scss/app.scss */
.graphIcon {
  cursor: pointer; }

/* line 459, ../_scss/app.scss */
.graphIcon a {
  background: url("../_imgs/graphIconLightGray.png") no-repeat;
  background-size: 100px 80px;
  background-position: center center;
  display: block;
  margin: 1em auto 0 auto; }

/* line 466, ../_scss/app.scss */
.panel.dark.graphIcon:hover {
  background: lightgray;
  border: none;
  color: black; }

/* line 471, ../_scss/app.scss */
.panel.dark.graphIcon:hover a {
  background: url("../_imgs/graphIcon2l.png") no-repeat;
  background-size: 100px 80px;
  background-position: center center; }

/* line 476, ../_scss/app.scss */
.panel.dark.graphIcon:hover p {
  color: black; }

/*Training Page*/
/* line 481, ../_scss/app.scss */
.training .athletes {
  height: 28em;
  overflow-y: scroll; }

/* line 485, ../_scss/app.scss */
.training .athlete {
  margin-top: .5em; }

/* line 488, ../_scss/app.scss */
.training .athlete .athlete-name, .training .athlete .last-metric {
  padding-top: 1.2em; }

/* line 491, ../_scss/app.scss */
.training .athlete .input, .training .athlete .buttons {
  padding-top: 0.8em; }

/* line 494, ../_scss/app.scss */
.training .athlete:nth-of-type(even) {
  background: #F9F9F9; }

/* line 497, ../_scss/app.scss */
.training .athlete:hover {
  background: rgba(156, 0, 18, 0.4); }

/* line 500, ../_scss/app.scss */
.training .athlete.active {
  background: #9c0012;
  color: white; }

/* line 504, ../_scss/app.scss */
.training .athlete.active:hover {
  background: rgba(156, 0, 18, 0.7); }

/*Training Table Header*/
/* line 507, ../_scss/app.scss */
.athleteHeader {
  padding: .5em 0; }

/* line 510, ../_scss/app.scss */
.athleteHeader .hName {
  margin-right: 7.5em; }

/* line 513, ../_scss/app.scss */
.athleteHeader .hLastMetric {
  margin-right: 4em; }

/* line 516, ../_scss/app.scss */
.athleteHeader .hUserInputs {
  margin-right: 7.8em; }

/* line 519, ../_scss/app.scss */
.athleteHeader .hToMeasure {
  margin-right: 7.5em; }

/*Training Button*/
/* line 524, ../_scss/app.scss */
.edit, .hide {
  float: right; }

/* line 527, ../_scss/app.scss */
input.measure, input.measured {
  width: 50%;
  float: right; }

/* line 531, ../_scss/app.scss */
span.measured {
  margin-right: 1.5em; }

/* Athlete Profile Graph & Chart Styles */
/* line 536, ../_scss/app.scss */
.graphHeader {
  background: #222;
  color: lightgray; }

/* line 540, ../_scss/app.scss */
.graph .columns {
  padding: 0; }

/* line 543, ../_scss/app.scss */
.graph h4 {
  margin-bottom: 0; }

/* line 546, ../_scss/app.scss */
.graphHeader h2 {
  color: white;
  text-align: center;
  margin: .4em auto;
  text-transform: uppercase;
  font-size: 1.2rem; }

/* line 553, ../_scss/app.scss */
.graphNext {
  margin: .2em 0;
  width: .5rem;
  height: 1rem;
  display: block;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid darkgray;
  float: right;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

/* line 566, ../_scss/app.scss */
.graphNext:hover {
  border-left: 1rem solid white; }

/* line 567, ../_scss/app.scss */
.graphPrev {
  margin: .2em 0;
  width: .5rem;
  height: 1rem;
  display: block;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid darkgray;
  float: left;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

/* line 580, ../_scss/app.scss */
.graphPrev:hover {
  border-right: 1rem solid white; }

/* line 581, ../_scss/app.scss */
.graph canvas {
  margin: 0 auto; }

/* 404 Page */
/* line 586, ../_scss/app.scss */
.whoops h1 {
  text-align: center;
  font-size: 17rem;
  line-height: 0;
  margin: .5em 0em;
  color: #83000f; }

/* line 593, ../_scss/app.scss */
.whoops h3 {
  text-align: center;
  text-transform: uppercase; }

/*====================
      MODULE RULES    
  ====================*/
/* UI Button !! In Dire Need of Renaming !! */
/* line 604, ../_scss/app.scss */
a.vProfile {
  width: 6.7em;
  text-align: center;
  display: block;
  background: #9c0012;
  color: white;
  padding: .2em .4em;
  border: 1px solid #83000f;
  margin: .5em 0; }

/* line 614, ../_scss/app.scss */
a.vProfile:hover {
  background: #83000f;
  color: white;
  border: 1px solid #9c0012; }

/* line 619, ../_scss/app.scss */
a.vProfile:active {
  position: relative;
  right: -1px;
  top: 1px; }

/* Nav & top bar styles */
/* line 626, ../_scss/app.scss */
.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #383c3a;
  margin-bottom: 0; }

/* line 634, ../_scss/app.scss */
.top-bar ul {
  margin-bottom: 0;
  list-style: none; }

/* line 638, ../_scss/app.scss */
.top-bar .row {
  max-width: none; }

/* line 641, ../_scss/app.scss */
.top-bar form, .top-bar input {
  margin-bottom: 0; }

/* line 644, ../_scss/app.scss */
.top-bar input {
  height: 2.45em; }

/* line 647, ../_scss/app.scss */
.top-bar .button {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 0; }

/* line 652, ../_scss/app.scss */
.top-bar .title-area {
  position: relative; }

/* line 655, ../_scss/app.scss */
.top-bar .companyName {
  height: 45px;
  margin: 0;
  font-size: 16px; }

/* line 660, ../_scss/app.scss */
.top-bar .companyName h1 {
  line-height: 45px;
  font-size: 1.0625em;
  margin: 0; }

/* line 665, ../_scss/app.scss */
.top-bar .companyName h1 a {
  font-weight: 700;
  color: #929393;
  width: 50%;
  display: block;
  margin-left: .5em;
  padding: 1.5em 2em;
  background: url("../_imgs/APE-logo-nav-2.png") no-repeat;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -ms-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s; }

/* line 679, ../_scss/app.scss */
.top-bar .companyName:hover h1 a {
  background: url("../_imgs/APE-logo-nav-red.png") no-repeat; }

/* line 682, ../_scss/app.scss */
.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0; }

/* line 687, ../_scss/app.scss */
.top-bar .toggle-topbar a {
  color: #929393;
  text-transform: uppercase;
  font-size: .8125em;
  font-weight: 700;
  position: relative;
  display: block;
  padding: 0 15px;
  height: 45px;
  line-height: 45px; }

/* line 698, ../_scss/app.scss */
.top-bar .toggle-topbar.menu-icon {
  right: 15px;
  top: 50%;
  margin-top: -16px;
  padding-left: 40px; }

/* line 704, ../_scss/app.scss */
.top-bar .toggle-topbar.menu-icon a {
  text-indent: -48px;
  width: 34px;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: #fff; }

/* line 712, ../_scss/app.scss */
.top-bar .toggle-topbar.menu-icon a span {
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }

/* line 721, ../_scss/app.scss */
.top-bar.expanded {
  height: auto;
  background: transparent; }

/* line 725, ../_scss/app.scss */
.top-bar.expanded .title-area {
  background: #383c3a; }

/* line 728, ../_scss/app.scss */
.top-bar.expanded .toggle-topbar a {
  color: #888; }

/* line 731, ../_scss/app.scss */
.top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
  box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888; }

/* line 735, ../_scss/app.scss */
.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out; }

/* line 743, ../_scss/app.scss */
.top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  background: #333;
  font-size: 16px;
  margin: 0; }

/* line 751, ../_scss/app.scss */
.top-bar-section .divider {
  border-bottom: solid 1px #4d4d4d;
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%; }

/* line 758, ../_scss/app.scss */
.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #929393;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-size: 1.125em;
  font-weight: 400;
  background: #333; }

/* line 768, ../_scss/app.scss */
.top-bar-section ul li > a:hover {
  background: #2b2b2b; }

/* line 771, ../_scss/app.scss */
.top-bar-section ul li > a.button {
  background: #9c0012;
  font-size: 1.125em; }

/* line 775, ../_scss/app.scss */
.top-bar-section ul li > a.button:hover {
  background: #69000c; }

/* line 778, ../_scss/app.scss */
.top-bar-section ul li > a.button.secondary {
  background: #e9e9e9; }

/* line 781, ../_scss/app.scss */
.top-bar-section ul li > a.button.secondary:hover {
  background: #d0d0d0; }

/* line 784, ../_scss/app.scss */
.top-bar-section ul li > a.button.success {
  background: #5da423; }

/* line 787, ../_scss/app.scss */
.top-bar-section ul li > a.button.success:hover {
  background: #457a1a; }

/* line 790, ../_scss/app.scss */
.top-bar-section ul li > a.button.alert {
  background: #c60f13; }

/* line 793, ../_scss/app.scss */
.top-bar-section ul li > a.button.alert:hover {
  background: #970b0e; }

/* line 796, ../_scss/app.scss */
.top-bar-section ul li.active a {
  background: #2b2b2b; }

/* line 799, ../_scss/app.scss */
.top-bar-section .has-form {
  padding: 15px; }

/* line 802, ../_scss/app.scss */
.top-bar-section .has-dropdown {
  position: relative; }

/* line 805, ../_scss/app.scss */
.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  margin-right: 15px;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0; }

/* line 818, ../_scss/app.scss */
.top-bar-section .has-dropdown.moved {
  position: static; }

/* line 821, ../_scss/app.scss */
.top-bar-section .has-dropdown.moved > .dropdown {
  visibility: visible; }

/* line 824, ../_scss/app.scss */
.top-bar-section .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  z-index: 99; }

/* line 831, ../_scss/app.scss */
.top-bar-section .dropdown li {
  width: 100%; }

/* line 834, ../_scss/app.scss */
.top-bar-section .dropdown li a {
  font-weight: 400;
  padding: 8px 15px; }

/* line 838, ../_scss/app.scss */
.top-bar-section .dropdown li.title h5 {
  margin-bottom: 0; }

/* line 841, ../_scss/app.scss */
.top-bar-section .dropdown li.title h5 a {
  color: #929393;
  line-height: 22.5px;
  display: block; }

/* line 846, ../_scss/app.scss */
.top-bar-section .dropdown label {
  padding: 8px 15px 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
  font-size: .625em; }

/* line 854, ../_scss/app.scss */
.top-bar-js-breakpoint {
  width: 47.9375em !important;
  visibility: hidden; }

/* Tooltip Styles */
/* line 860, ../_scss/app.scss */
.has-tip {
  border-bottom: none;
  cursor: pointer;
  color: #333333; }

/* line 864, ../_scss/app.scss */
.has-tip:hover, .has-tip:focus {
  border-bottom: none; }

/* line 867, ../_scss/app.scss */
.has-tip.tip-left, .has-tip.tip-right {
  float: none !important; }

/* line 869, ../_scss/app.scss */
.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background: black;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: -1.4em; }

/* line 885, ../_scss/app.scss */
.tooltip > .nub {
  display: block;
  left: 5px;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent black transparent;
  top: -9px; }

/* Coming Soon tooltip */
/* line 895, ../_scss/app.scss */
body.has-tip {
  border-bottom: none;
  cursor: pointer;
  color: #333333; }

/* line 900, ../_scss/app.scss */
body.has-tip:hover, body.has-tip:focus {
  border-bottom: none; }

/* line 903, ../_scss/app.scss */
body.tooltip {
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  color: white;
  background: #83000f;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: -1.8em; }

/* line 915, ../_scss/app.scss */
body.tooltip > .nub {
  left: 5px !important;
  border: solid 5px;
  border-color: transparent transparent #83000f transparent;
  top: -9px !important; }

/* Utility Classes */
/* line 923, ../_scss/app.scss */
.contain-to-grid {
  width: 100%;
  background: #383c3a; }

/* line 927, ../_scss/app.scss */
.js-generated {
  display: block; }

/* line 930, ../_scss/app.scss */
.date {
  /* !!!!! THIS NEEDS TO BE RENAMED REALLY BADLY !!!!! Is currently specific to athlete profile */
  text-align: right; }

/* line 933, ../_scss/app.scss */
.rightAlign {
  text-align: right; }

/* line 936, ../_scss/app.scss */
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; }

/* line 943, ../_scss/app.scss */
.noReally {
  /* Research new name */
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; }

/* line 950, ../_scss/app.scss */
div.clickable {
  /* Clickable DIVs Containing div must have a position value */
  position: relative; }

/* line 953, ../_scss/app.scss */
div.clickable a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  /* raises anchor tag above everything else in div */
  /*opacity: 0; workaround to make clickable in IE */
  filter: alpha(opacity=1);
  /*workaround to make clickable in IE */ }

/*===================
      STATE RULES    
  ===================*/
/* Not sure why this is an empty media query. Will look into */
@media only screen {
  /*html {margin-top: 4em;} /* Shitty Nav Fix */
  /* line 972, ../_scss/app.scss */
  .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }

  /* line 979, ../_scss/app.scss */
  .button:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }

  /* line 983, ../_scss/app.scss */
  .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }

  /* line 987, ../_scss/app.scss */
  .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }

  /* line 992, ../_scss/app.scss */
  .highlight-table-row {
    background-color: rgba(156, 0, 18, 0.3); } }
/* 768px & larger - Revist this Media Query, does it make sense?*/
@media only screen and (min-width: 48em) {
  /* line 999, ../_scss/app.scss */
  html {
    /* Shitty Nav Fix */
    /* margin-top: 1.5em; */ }

  /* line 1002, ../_scss/app.scss */
  .button {
    display: inline-block; }

  /* Top Bar Crap. Can I take this out? Research */
  /* line 1006, ../_scss/app.scss */
  .top-bar {
    background: #383c3a;
    *zoom: 1;
    overflow: visible; }

  /* line 1011, ../_scss/app.scss */
  .top-bar:before, .top-bar:after {
    content: " ";
    display: table; }

  /* line 1015, ../_scss/app.scss */
  .top-bar:after {
    clear: both; }

  /* line 1018, ../_scss/app.scss */
  .top-bar .toggle-topbar {
    display: none; }

  /* line 1021, ../_scss/app.scss */
  .top-bar .title-area {
    float: left; }

  /* line 1024, ../_scss/app.scss */
  .top-bar .companyName h1 a {
    width: auto; }

  /* line 1027, ../_scss/app.scss */
  .top-bar input, .top-bar .button {
    line-height: 2em;
    font-size: .875em;
    height: 2em;
    padding: 0 10px;
    position: relative;
    top: 8px; }

  /* line 1035, ../_scss/app.scss */
  .top-bar.expanded {
    background: #383c3a; }

  /* line 1039, ../_scss/app.scss */
  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important; }

  /* line 1045, ../_scss/app.scss */
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline; }

  /* line 1050, ../_scss/app.scss */
  .top-bar-section ul li {
    float: left; }

  /* line 1053, ../_scss/app.scss */
  .top-bar-section ul li .js-generated {
    display: none; }

  /* line 1057, ../_scss/app.scss */
  .top-bar-section li a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: #383c3a;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s; }

  /* line 1068, ../_scss/app.scss */
  .top-bar-section li a:not(.button):hover {
    background: #222; }

  /* line 1071, ../_scss/app.scss */
  .top-bar-section .has-dropdown > a {
    padding-right: 35px !important; }

  /* line 1074, ../_scss/app.scss */
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    margin-top: -2.5px; }

  /* line 1083, ../_scss/app.scss */
  .top-bar-section .has-dropdown.moved {
    position: relative; }

  /* line 1086, ../_scss/app.scss */
  .top-bar-section .has-dropdown.moved > .dropdown {
    visibility: hidden; }

  /* line 1089, ../_scss/app.scss */
  .top-bar-section .has-dropdown:hover > .dropdown, .top-bar-section .has-dropdown:active > .dropdown {
    visibility: visible; }

  /* line 1092, ../_scss/app.scss */
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    margin-top: -7px;
    right: 5px; }

  /* line 1098, ../_scss/app.scss */
  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%; }

  /* line 1103, ../_scss/app.scss */
  .top-bar-section .dropdown li a {
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    padding: 7px 15px;
    background: #444947; }

  /* line 1110, ../_scss/app.scss */
  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #444947; }

  /* line 1114, ../_scss/app.scss */
  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0; }

  /* line 1118, ../_scss/app.scss */
  .top-bar-section > ul > .divider {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px #515654;
    border-left: solid 1px #1f2221;
    clear: none;
    height: 45px;
    width: 0; }

  /* line 1127, ../_scss/app.scss */
  .top-bar-section .has-form {
    background: #383c3a;
    padding: 0 15px;
    height: 45px; }

  /* line 1132, ../_scss/app.scss */
  .top-bar-section ul.right li .dropdown {
    left: auto;
    right: 0; }

  /* line 1136, ../_scss/app.scss */
  .top-bar-section ul.right li .dropdown li .dropdown {
    right: 100%; }

  /* line 1139, ../_scss/app.scss */
  .top-bar-section ul li > a:hover {
    background: #2b2b2b;
    color: #fff; }

  /* line 1143, ../_scss/app.scss */
  .top-bar-section ul li.active a {
    background: #383c3a;
    color: #fff; }

  /* line 1148, ../_scss/app.scss */
  .top-bar-section #school-name {
    color: white; }

  /* Roster stuff. research if you can remove */
  /* line 1153, ../_scss/app.scss */
  .roster-name .date {
    text-align: right; }

  /* line 1156, ../_scss/app.scss */
  .roster-metrics .metric {
    font-size: 7em; }

  /* line 1159, ../_scss/app.scss */
  .rosters .rosterRow {
    height: 28em;
    overflow-y: scroll; } }
/*ROSTER Page*/
/* line 1166, ../_scss/app.scss */
.playaImage {
  width: 14%; }

/* line 1169, ../_scss/app.scss */
.playaInfo {
  /*height: 200px;*/
  /*width: 300px;*/ }

/* line 1173, ../_scss/app.scss */
.imageProfile {
  width: 110px;
  padding: 0 0; }

/* line 1177, ../_scss/app.scss */
.nameInfo {
  width: 175px;
  padding-left: 15px; }

/*.demoInfo {
  position: relative;
  height: 142px;
}
.specInfo {
  position: absolute;
  bottom: 0;
}*/
/* line 1189, ../_scss/app.scss */
h5.name {
  font-size: 22px; }

/* line 1192, ../_scss/app.scss */
.catBoxes {
  padding-top: .5em;
  /*border: 1px solid black;*/ }

/* 786px & below */
@media only screen and (max-width: 48em) {
  /* line 1200, ../_scss/app.scss */
  html
  .whoops h1 {
    /* Well that's just like, your opinion, man. */
    font-size: 10rem; }

  /* line 1204, ../_scss/app.scss */
  canvas {
    /* temporary chart.js fix */
    width: 100% !important;
    max-width: 800px;
    height: auto !important; }

  /* werkin dem mobile metrics */
  /* line 1211, ../_scss/app.scss */
  .athleteMetrics .section-container > section .title a {
    font-size: 1rem; }

  /* line 1214, ../_scss/app.scss */
  .statRow > .panel {
    min-height: 4em;
    max-height: 4em;
    padding: .2em; }

  /* line 1219, ../_scss/app.scss */
  .statRow > .panel h2 {
    font-size: 1.6rem; }

  /* line 1222, ../_scss/app.scss */
  .statRow > .panel p {
    font-size: .6rem;
    margin-bottom: 0;
    line-height: .8rem; }

  /* line 1227, ../_scss/app.scss */
  .graphIcon a {
    background-size: 50px 40px;
    margin-top: .5em; }

  /* line 1231, ../_scss/app.scss */
  .graphIcon:hover a {
    background-size: 50px 40px;
    margin-top: .5em; }

  /* line 1235, ../_scss/app.scss */
  .panel.dark.graphIcon:hover a {
    background-size: 50px 40px;
    margin-top: .5em; }

  /* line 1239, ../_scss/app.scss */
  .graphHeader h2 {
    margin: .4em auto;
    text-transform: uppercase;
    font-size: 1.2rem; }

  /* line 1244, ../_scss/app.scss */
  .playaImage {
    width: 25%; }

  /* line 1247, ../_scss/app.scss */
  .playaInfo {
    width: 50%; } }
