/* ROSTERS PAGE COLORS 

LIGHT GRAY: #F2F2F2;
MEDIUM GRAY: #CCCCCC;
DARK GRAY: 

DARK RED: #83000F;
LIGHT RED:; #9C0012;

*/

/* TYPOGRAPHY */

.athlete-photo img {
	display:block;
	width: 100%;
}
.vanity-plate {
	background-color:#F2F2F2;
	padding-top: 0.5em;

}

.athlete-photo button {
	display: block;
	width: 100%;
}

.athlete-metrics {
	text-align: center;
}
.athlete-metrics h3{
	font-family: 'helvetica neue', helvetica, arial;
	font-size: 1.5em;
	font-weight: 100;
	letter-spacing: 1px;
	text-shadow: #262729 0 -1px 0;	
}

.athlete-metrics span {
	display:block;
}
span.metric-value {
	font-size: 4.5em;
	font-weight: normal;
	line-height: 1;

}

span.metric-measurement {
	padding-top: 0.5em;
	font-size: 1.5em;
	line-height: 1;
	font-weight: 100;
	
}

.athlete-info dl {
	line-height: .75em;
}
.athlete-info dl dt {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

.roster-subnav {
	background-color: #F2F2F2;
}



.name-style {
	font-family: 'helvetica neue', helvetica, arial;
	font-size:20px;
	font-weight: 100;
	letter-spacing: 1px;
	text-shadow: #262729 0 -1px 0;	
}

.bold {
	font-weight: bolder;
}

.sub-nav {
	margin-bottom: 0em;
	margin-top: 1em;
	margin-left: 0em;
}

.sub-nav dd.active a {
	background: #9C0012;
}





input[type=submit] {
  background-color: #9c0012;
  padding: 10px;
  color: white;
}

input[type=submit]:hover {
  background-color: #69000c;
}






h5 {
	text-transform: uppercase;
}





[contenteditable]:hover:after {
	content: ' click to edit';
	font-style: italic;
	font-size: 12px;
	font-family: sans-serif;
	color: #ccc;
}

[contenteditable]:hover, [contenteditable]:focus {
	background: #D1D0CE;
}

[contenteditable]:focus {
	padding:5px;
}

[contenteditable]:focus:after {
	content: '';
}



