/* Table Formatting */
tr th {
	background-color: #ccc !important;
}

h5 {
	text-transform: uppercase;
}



/*       */
dl {
	line-height: .75em;
}
dl dt {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

dl dd {

}

dt:after {
	content:":";
}

[contenteditable]:hover:after {
	content: ' click to edit';
	font-style: italic;
	font-size: 12px;
	font-family: sans-serif;
	color: #ccc;
}

[contenteditable]:hover, [contenteditable]:focus {
	background: #D1D0CE;
}

[contenteditable]:focus {
	padding:5px;
}

[contenteditable]:focus:after {
	content: '';
}

.rosterProfile {

}


a.vProfile {
	width: 6 em;
}

