ul.team-filter {
  list-style-type: none;
}

ul.team-filter li {
  display: inline;
}

ul.team-filter li a:after{
  content: " / ";
}

  .box {
  
  min-width:175px;
  min-height: 175px;
  margin: 20px;
  border-style:solid;
  border-width:1px;
  border-color: Gray;
  background-color: #69000c;
  position:relative;

}

.caption {
  position: absolute;
  left:0;
  bottom: -40px;
  /*z-index: 100; */

}

.centered {
	text-align: center;
}

.gray {
  background-color: #cccccc;
}

#add-team {
  font-size: 150px;
}

.centered-div {
  position:fixed;
  /*z-index: 100;  */
  top:50%;  
  left:50%;  
  margin:-100px 0 0 -100px;  
  width:200px;  
  height:200px;  
}


#myModal {
	background-color: #efefef;
}

.upimage {
	max-width: 150px;
}

#ape-nav li ul {
  display: none; // used to hide sub-menus
}
#side-nav li ul {
  display: none; // used to hide sub-menus
}