ul {
  list-style-type: none;
}

ul.team-filter li {
  display: inline;
}

ul.team-filter li a:after{
  content: " / ";
}

input[type=submit] {
  background-color: #9c0012;
  padding: 10px;
  color: white;
}

input[type=submit]:hover {
  background-color: #69000c;
}

.box {
  
  width:360px;
  height: 175px;
  margin: 20px;
  margin-left: 10px;
  border-style:solid;
  border-width:1px;
  border-color: Gray;
  background-color: #9c0012;
  position:relative;

}

.box:hover {
  background-color: #69000c;
}

.add-team-box {
  width: 190px;
  height: 170px;
}

.gray {
  background-color: #cccccc;
}

a#add-team {
  font-size: 150px;
}


.caption {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -25px;
  /*z-index: 100; */

}

li p {
  color: white;
  font-size: 2.5em;
}

.centered {
	text-align: center;
}

.centered-div {
  position:fixed;
  /*z-index: 100;  */
  top:50%;  
  left:50%;  
  margin:-100px 0 0 -100px;  
  width:200px;  
  height:200px;  
}

#gender {
  margin-bottom: 40px;
}
#myModal {
	background-color: #efefef;
}

.upimage {
	max-width: 150px;
}

#ape-nav li ul {
  display: none; // used to hide sub-menus
}
#side-nav li ul {
  display: none; // used to hide sub-menus
}